@font-face {
    font-family: 'Zabatana';
    src: url("./fonts/Zabatana-Poster.ttf");
    font-weight: bold;
}

@mixin normalText($case: uppercase, $color: #000, $size: 15px, $letter-spacing: 0) {
    text-transform: $case;
    color: $color;
    font-size: $size;
    letter-spacing: $letter-spacing;
}

$contentWidth: 1000px;

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-image: url('./assets/body-background-alt.jpg');
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}

.header {
    max-width: $contentWidth;
    margin: 0 auto;

    .header-top-bar {
        @include normalText($size: 14px);
        text-align: center;
        background-color: #fff;
        padding: 14px 0;
        
        p {
            margin: 0;
        }
    }

    .header-hero {
        background-image: url("./assets/hero.png");
        background-size: cover;
        
        .header-products-bar {
            @include normalText($size: 15px, $color: #fff);
            padding: 15px 20px;
            border-bottom: 6px solid #fff;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                @media screen and (max-width: 750px) {
                    justify-content: center;
                    gap: 8px;
                }
            }
        }

        .header-content {
            position: relative;

            @media screen and (max-width: 870px) {

            }

            .header-logo {
                text-align: center;
                margin-top: 22px;

                img {
                    width: 200px;
                }

                h1 {
                    @include normalText($size: 25px, $color: #fff, $letter-spacing: 2px);
                    text-align: center;
                }
            }

            .header-slogan {
                background-color: #fff;
                width: max-content;
                padding: 15px 15px 6px 15px;
                margin: 0 auto;

                h3 {
                    font-family: 'Zabatana', serif;
                    @include normalText($size: 30px, $color: #000, $letter-spacing: 2px);
                    text-align: center;
                    line-height: 40px;
                    margin: 0;

                    @media screen and (max-width: 400px) {
                        font-size: 25px;
                    }
                }
            }

            .header-box-picture {

                @media screen and (max-width: 860px) {
                    display: flex;
                    justify-content: center;
                }

                img {
                    @media screen and (max-width: 860px) {
                        position: static;
                        // margin-left: 50%;
                        // transform: translateX(-50%);
                        margin-top: 30px;
                        margin-bottom: 30px;
                    }

                    width: 260px;
                    position: absolute;
                    top: 0;
                    left: 20px;
                }
            }
        }
    }
}

.content {
    max-width: $contentWidth;
    margin: 0 auto;
    background-color: #18100c;
    padding-top: 55px;
    padding-bottom: 0;

    // main p for whole content section
    p {
        @include normalText($color: #fff, $size: 25px, $case: normal);
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        text-align: center;
    }

    .title {
        h2 {
            margin: 0;
            @include normalText($color: #fff, $size: 60px);
            text-align: center;
            font-family: 'Zabatana', serif;
        }
    }

    .text {
        p {
            @include normalText($color: #fff, $size: 25px, $case: normal);
        }
    }

    .adress {
        text-align: center;
        margin-bottom: 50px;

        img {
            width: 50px;
        }

        p {
            @include normalText($color: #fff, $size: 25px, $case: uppercase);
        }
    }

    .google-map {
        height: 280px;
    }
}

.social-media {
    max-width: $contentWidth;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    padding-top: 55px;

    -webkit-box-shadow: inset 0px 24px 24px -32px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 0px 24px 24px -32px rgba(66, 68, 90, 1);
    box-shadow: inset 0px 24px 24px -32px rgba(66, 68, 90, 1);

    .social-title {
        h2, h3 {
            font-family: 'Zabatana', sans-serif;
            @include normalText($color: #000, $size: 60px, $case: normal);
            margin: 0;
        }

        h3 {
            font-size: 40px;
            margin-top: 30px;
        }
    }

    .social-icons {
        display: flex;
        flex-wrap: nowrap;
        gap: 30px;
        justify-content: center;
        margin-top: 30px;

        * {
            height: 50px;
        }
    }
}

.promo {
    max-width: $contentWidth;
    margin: 0 auto;
    padding-top: 55px;
    padding-bottom: 100px;
    background: url('./assets/tlo-korek.png') #fff;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 110% 100%;

    @media screen and (max-width: 700px) {
        background-size: 70%;
    }

    .promo-divider {
        width: 100%;
        height: 3px;
        background-color: #4f4f4f;
        margin-bottom: 25px;
    }

    .promo-inner {
        display: flex;

        @media screen and (max-width: 700px) {
            flex-direction: column;
        }

        // main button design
        .main-button {
            @include normalText($case: uppercase, $size: 20px);
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            background-color: #fff;
            border: 1px solid #000;
            padding: 10px 25px;
            position: relative;
            cursor: pointer;

            p {
                margin: 0;
                position: relative;
                z-index: 10;
            }
        
            &:before {
                content: '';
                background-color: #fff;
                width: 110%;
                height: 18px;
                display: block;
                position: absolute;
                z-index: 5;
                left: -5%;
            }
        
        }

        h2 {
            margin: 0;
            font-family: 'Zabatana', sans-serif;
            @include normalText($color: #000, $size: 45px, $case: uppercase);
        }

        p {
            @include normalText($case: uppercase);
            font-weight: 400;
        }

        .promo-left, .promo-right {
            width: 50%;
            text-align: center;
            padding:0 35px;

            & > *:nth-child(2) {
                margin-top: 60px;
            }

            @media screen and (max-width: 700px) {
                width: 100%;
                box-sizing: border-box;
            }
        }

        .promo-left {
            border-right: 1px solid #4f4f4f;

            @media screen and (max-width: 700px) {
                border: none;
                margin-bottom: 60px;
            }
        }
    }
}

.age-confirmation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.85);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.5s ease;
    z-index: 999;

    .age-confirmation-inner {
        width: 500px;
        background-color: #000;
        text-align: center;
        padding: 30px;
        border-radius: 20px;

        h2 {
            font-family: 'Zabatana', serif;
            font-size: 50px;
        }

        p {
            font-size: 17px;
            font-family: 'Montserrat', sans-serif;
        }

        .age-confirmation-buttons {
            margin-top: 25px;

            button {
                cursor: pointer;
            }

            .enter {
                background-color: #fff;
                border: 1px #fff solid;
                padding: 10px 20px;
                color: #000;
            }

            .leave {
                background-color: transparent;
                border: 1px #fff solid;
                padding: 10px 20px;
                color: #fff;
            }
        }
    }
}

// podstrona z oferta weselna

.download-offer-container {
    background-color: #000;
    padding: 20px;

    .download-offer-inner {
        @include normalText($size: 14px, $color: #fff);

        a {
            color: #fff;
            text-decoration: none;
            display: inline-block;
            margin-left: 15px;

            :visited {
                color: #fff;
            }
        }
    }
}